main {
    #section1 {
      background-color: $primary-color;
      background-size: cover;
  
      .headings {
        width: 790px;
        padding: 150px 0 0 40px;
  
        h2 {
          @include Font($size: 48px, $color: white, $weight: 600);
  
          @media (max-width: 768px) {
            text-align: center;
          }
  
          span {
            color: #6682ff;
          }
        }
  
        p {
          @include Font($size: 20px, $color: #abb2d9);
  
          @media (max-width: 768px) {
            text-align: center;
          }
        }
  
        @media (max-width: 768px) {
          width: 100%;
          padding-left: 0;
        }
      }
  
      .btns {
        display: flex;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
  
        @media (max-width: 768px) {
          justify-content: center;
        }
  
        button {
          width: 217px;
          height: 54px;
          border-radius: 10px;
          background-color: #2240cd;
          font-size: 20px;
          font-weight: 600;
          color: white;
          border-color: transparent;
          transition: 0.1s ease-in-out;
  
          &:hover {
            background-color: #19319c;
          }
        }
  
        .video {
          width: 178px;
          height: 48px;
          cursor: pointer;
  
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
  
      .leaders {
        margin-top: 200px;
        overflow: hidden;
  
        h3 {
          @include Font($size: 22px, $color: white);
          text-align: center;
          margin-bottom: 50px;
        }
  
        .sliding-logos {
          @include Flexible($align: center, $gap: 110px);
  
          img {
            width: 140px;
            height: 35px;
            object-fit: contain;
          }
  
          animation: slide 120s infinite;
  
          &:hover {
            animation-play-state: paused;
          }
        }
      }
  
      .thrive {
        margin-top: 130px;
        overflow: hidden;
  
        .col-lg-6 {
          padding: 0;
        }
  
        h2 {
          @include Font($color: white, $size: 42px, $weight: 600);
        }
  
        h3 {
          @include Font($color: white, $size: 21px);
        }
  
        p {
          @include Font($color: #abb2d9, $size: 18px);
          margin-top: 30px;
        }
  
        .right {
          z-index: -1;
  
          img {
            width: 700px;
            height: auto;
            object-fit: cover;
          }
        }
  
        .left {
          padding-left: 120px;
          padding-top: 200px;
  
          @media (max-width: 768px) {
            padding-left: 10px;
            padding-top: 120px;
          }
        }
      }
    }
  
    #section2 {
      background-size: cover;
      transform: translateY(-152px);
      padding-top: 250px;
      padding-bottom: 80px;
  
      @media (max-width: 768px) {
        padding-top: 300px;
        transform: translateY(-250px);
      }
  
      @media (min-width: 1270px) {
        transform: translateY(-220px);
      }
  
      .vers-1 {
        @media (max-width: 768px) {
          display: none;
        }
      }
  
      .left {
        h5 {
          font-size: 20px;
          color: #132a97;
          font-weight: 600;
        }
  
        p {
          color: #001c63;
          font-size: 17px;
          margin-bottom: 40px;
        }
  
        .p3 {
          margin: 0;
        }
  
        @media (max-width: 768px) {
          margin-top: 50px;
        }
      }
  
      .right {
        @include Flexible($align: center, $gap: 50px, $flexdir: column);
        background-color: white;
        height: auto;
        border-radius: 10px;
        padding: 55px 40px;
        box-shadow: 0px 0px 30px rgba(128, 128, 128, 0.24);
  
        @media (max-width: 768px) {
          padding: 25px 10px;
        }
  
        .info-text {
          display: flex;
          flex-direction: column;
          align-items: center;
  
          h3 {
            @include Font($color: #001c63, $size: 31px, $weight: 600);
            text-align: center;
  
            @media (max-width: 768px) {
              font-size: 25px;
            }
          }
  
          h4 {
            @include Font($color: #8992c7, $size: 21px);
            text-align: center;
  
            @media (max-width: 768px) {
              font-size: 17px;
            }
          }
  
          button {
            margin-top: 20px;
            width: 136px;
            height: 55px;
            border-radius: 5px;
            color: #2240cd;
            font-size: 18px;
            border: 1px solid #8992c7;
            background-color: white;
            font-weight: 600;
  
            &:hover {
              background-color: #d4dbfb;
            }
          }
        }
      }
  
      .vers-2 {
        display: none;
  
        @media (max-width: 768px) {
          display: block;
        }
      }
    }
  
    #flags {
      padding: 75px 150px;
      background-size: cover;
      background-color: #001c63;
  
      @media (max-width: 991px) {
        padding: 70px 0px;
      }
  
      .flag-cont {
        backdrop-filter: blur(10px);
        background-color: rgb(137 146 199 / 10%);
        background-image: linear-gradient(
          180deg,
          transparent 59%,
          rgba(137, 146, 199, 0.2)
        );
        background-color: transparent;
        border-radius: 20px;
        padding: 50px 0;
  
        @media (max-width: 768px) {
          padding: 30px 0;
        }
  
        .head1 {
          padding: 0 70px;
  
          @media (max-width: 768px) {
            padding: 0px;
          }
  
          h3 {
            font-size: 44px;
            color: white;
            font-weight: 600;
            text-align: center;
            margin-bottom: 20px;
  
            @media (max-width: 768px) {
              font-size: 35px;
            }
          }
  
          h5 {
            font-size: 21px;
            color: white;
            text-align: center;
            margin-bottom: 60px;
  
            @media (max-width: 768px) {
              font-size: 16px;
            }
          }
        }
  
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
  
        p {
          font-size: 21px;
          color: white;
          padding: 0 70px;
          text-align: center;
          margin-top: 60px;
  
          @media (max-width: 768px) {
            padding: 0px;
            font-size: 16px;
          }
        }
      }
    }
  
    #deliver {
      padding: 100px 0;
  
      @media (max-width: 991px) {
        display: none;
      }
  
      .benefits-container {
        width: 935px;
        margin: 0 auto;
  
        h3 {
          color: #001c63;
          font-size: 32px;
          font-weight: 600;
        }
  
        h4 {
          color: #8992c7;
          font-size: 21px;
          margin-bottom: 50px;
        }
  
        .images-container {
          display: flex;
          position: relative;
  
          .img5-cont {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 348px;
            height: 349px;
            border-radius: 10px;
            box-shadow: 0px 2px 30px 0px rgba(135, 132, 132, 0.422);
  
            img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
            }
  
            .img5-icon {
              position: absolute;
              right: -30px;
              top: 100px;
              width: 96px;
              height: 96px;
              border-radius: 15px;
              background-color: white;
              box-shadow: 0px 2px 30px 0px rgba(135, 132, 132, 0.422);
              @include Flexible($align: center, $justify: center);
  
              img {
                width: 51px;
                height: 60px;
                object-fit: contain;
              }
            }
          }
  
          .info {
            h6 {
              color: #001c63;
              font-size: 19px;
              margin-bottom: 15px;
            }
  
            p {
              color: #001c63;
              font-size: 16px;
              line-height: 24px;
            }
          }
  
          .left {
            width: 62%;
  
            .left-top {
              .img1-cont {
                width: 265px;
                height: 253px;
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0px 2px 30px 0px rgba(135, 132, 132, 0.422);
  
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
  
                .img1-icon {
                  position: absolute;
                  bottom: 12px;
                  left: 12px;
                  width: 96px;
                  height: 96px;
                  border-radius: 15px;
                  background-color: white;
                  @include Flexible($align: center, $justify: center);
  
                  img {
                    width: 51px;
                    height: 60px;
                    object-fit: contain;
                  }
                }
              }
  
              .info {
                margin-top: 40px;
  
                p {
                  max-width: 260px;
                }
              }
            }
  
            .left-bottom {
              display: flex;
              align-items: end;
              gap: 20px;
              margin-top: 100px;
  
              .img2-cont {
                width: 158px;
                height: 157px;
                border-radius: 10px;
                overflow: hidden;
  
                img {
                  width: 100%;
                  height: 100%;
                }
              }
  
              .info {
                p {
                  max-width: 260px;
                }
              }
            }
          }
  
          .right {
            width: 38%;
  
            .right-top {
              .img3-cont {
                width: 210px;
                height: 209px;
                border-radius: 10px;
  
                box-shadow: 0px 2px 30px 0px rgba(135, 132, 132, 0.422);
                position: relative;
  
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 10px;
                }
  
                .img3-icon {
                  position: absolute;
                  top: -20px;
                  right: -30px;
                  width: 96px;
                  height: 96px;
                  border-radius: 15px;
                  background-color: white;
                  @include Flexible($align: center, $justify: center);
                  box-shadow: 0px 2px 40px 0px rgba(135, 132, 132, 0.422);
  
                  img {
                    width: 36px;
                    height: 45px;
                    border-radius: 0;
                  }
                }
              }
  
              .info {
                margin-top: 40px;
                max-width: 250px;
                margin-left: 100px;
              }
            }
  
            .right-bottom {
              margin-top: 100px;
  
              .img4-cont {
                width: 236px;
                height: 234px;
                border-radius: 10px;
                overflow: hidden;
  
                img {
                  height: 100%;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  
    #deliver-mobile {
      display: none;
  
      @media (max-width: 991px) {
        display: block;
      }
  
      padding-top: 50px;
  
      h3 {
        color: #001c63;
        font-size: 32px;
        font-weight: 600;
      }
  
      h4 {
        color: #8992c7;
        font-size: 21px;
        margin-bottom: 50px;
      }
  
      .benefit-card {
        .img-cont {
          position: relative;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 0px 2px 40px rgba(128, 128, 128, 0.822);
  
          .img1 {
            width: 100%;
            height: auto;
          }
  
          .img-icon {
            position: absolute;
            width: 64px;
            height: 64px;
            bottom: 15px;
            left: 15px;
            @include Flexible($align: center, $justify: center);
            border-radius: 12px;
            background-color: white;
  
            img {
              width: 30px;
              height: 30px;
            }
          }
        }
  
        .text-cont {
          margin-top: 30px;
  
          h6 {
            color: #001c63;
            font-size: 19px;
            margin-bottom: 15px;
          }
  
          p {
            color: #001c63;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  
    #teams {
      padding-top: 50px;
  
      .swiper {
        padding: 0;
      }
  
      .headings {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-bottom: 40px;
  
        .icon {
          width: 74px;
          height: 74px;
          border-radius: 50%;
          background-color: #f2f4fd;
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        h3 {
          color: #001c63;
          font-size: 34px;
          font-weight: 600;
          text-align: center;
  
          @media (max-width: 480px) {
            font-size: 28px;
          }
        }
      }
  
      .swiper-slide {
        width: 563px;
        height: 350px;
        padding: 32px 30px;
        border-radius: 10px;
  
        @media (max-width: 768px) {
          width: calc(563px * 2 / 3);
          height: calc(350px * 2 / 3);
        }
  
        @media (max-width: 450px) {
          width: calc(563px * 0.5);
          height: calc(350px * 0.5);
          padding: 16px 15px;
        }
  
        @include Flexible($flexdir: column, $justify: space-between);
        overflow: hidden;
  
        .top {
          p {
            @include Font($color: white, $size: 22px);
            padding-right: 80px;
  
            @media (max-width: 768px) {
              font-size: 16px;
              padding-right: 40px;
            }
  
            @media (max-width: 450px) {
              font-size: 12px;
              padding-right: 10px;
            }
          }
        }
  
        .bottom {
          p {
            @include Font($color: white, $size: 16px);
            margin: 0;
  
            @media (max-width: 768px) {
              font-size: 10px;
            }
  
            @media (max-width: 450px) {
              font-size: 8px;
            }
          }
  
          h5 {
            @include Font($color: white, $size: 18px, $weight: 500);
  
            @media (max-width: 768px) {
              font-size: 12px;
            }
  
            @media (max-width: 450px) {
              font-size: 10px;
            }
          }
        }
      }
  
      .talk-to-us {
        background-color: #01113b;
        padding: 250px 0 30px 0;
        margin-top: -175px;
        @include Flexible($justify: center);
  
        @media (max-width: 768px) {
          margin-top: calc(-350px * 1 / 3);
          padding: 200px 0 50px 0;
        }
  
        @media (max-width: 450px) {
          margin-top: calc(-350px * 1 / 4);
          padding: 150px 0 50px 0;
        }
  
        button {
          width: 134px;
          height: 54px;
          @include Font($color: #2240cd, $size: 18px, $weight: 600);
          border-radius: 10px;
          background-color: white;
          border-color: transparent;
  
          &:hover {
            background-color: #e2e7ff;
          }
        }
      }
    }
  
    #infrastructure {
      padding-top: 90px;
      padding-bottom: 180px;
      background-color: #00103b;
  
      h3 {
        @include Font($color: $font-color, $size: 22px);
  
        @media (max-width: 560px) {
          font-size: 20px;
        }
      }
  
      h1 {
        @include Font($color: white, $size: 70px);
        margin: 30px 0;
  
        @media (max-width: 560px) {
          font-size: 50px;
        }
      }
  
      p {
        @include Font($color: $font-color2, $size: 20px);
  
        @media (max-width: 560px) {
          font-size: 18px;
        }
      }
  
      .img-cont {
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
  
      .inf1 {
        @media (max-width: 991px) {
          display: none !important;
        }
      }
  
      .inf2 {
        display: none;
  
        @media (max-width: 991px) {
          display: block !important;
        }
      }
    }
  
    #prefs {
      padding: 70px 0;
  
      .pref-card {
        padding: 0 35px;
  
        .img-cont {
          width: 48px;
          height: 48px;
          margin: 0 auto;
  
          img {
            width: 100%;
            height: 100%;
          }
        }
  
        h3 {
          @include Font($color: $main-fontc, $size: 20px);
          margin: 20px 0;
          text-align: center;
        }
  
        p {
          @include Font($color: $font-color3, $size: 14px);
          text-align: center;
        }
  
        @media (max-width: 768px) {
          margin-bottom: 35px;
        }
      }
    }
  
    #experience {
      padding: 80px 30px;
      background-color: #e8ebfa;
  
      .headings {
        h3 {
          @include Font($color: $font-color4, $size: 22px, $weight: 600);
          text-align: center;
  
          @media (max-width: 768px) {
            font-size: 18px;
          }
        }
  
        h1 {
          @include Font($color: $main-fontc, $size: 44px, $weight: 600);
          text-align: center;
  
          @media (max-width: 768px) {
            font-size: 34px;
          }
        }
  
        p {
          @include Font($color: $font-color, $size: 20px);
          text-align: center;
          margin-bottom: 40px;
  
          @media (max-width: 768px) {
            font-size: 16px;
          }
        }
      }
  
      .tab-container {
        @media (max-width: 991px) {
          display: none !important;
        }
  
        .tab {
          @include Flexible($gap: 20px);
          padding: 24px;
          margin-bottom: 20px;
          border-radius: 10px;
          cursor: pointer;
  
          .right {
            h5 {
              margin-bottom: 16px;
              color: #001064;
              font-size: 18px;
              font-weight: 600;
            }
  
            p {
              color: $font-color;
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }
  
      .img-cont {
        position: relative;
  
        @media (max-width: 991px) {
          display: none !important;
        }
  
        .tab-cont {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          bottom: 0;
          opacity: 0;
          transition: 0.8s ease-in-out;
  
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }
  
      .pref-choice {
        margin-top: 80px;
  
        h3 {
          @include Font($color: $main-fontc, $size: 30px, $weight: 600);
          text-align: center;
          max-width: 560px;
          margin: 0 auto;
  
          @media (max-width: 768px) {
            font-size: 25px;
          }
        }
  
        .global-org {
          margin-top: 45px;
          overflow: hidden;
          @include Flexible($justify: center);
  
          @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
          }
  
          .imgs {
            display: flex;
            align-items: center;
  
            @media (max-width: 768px) {
              width: 313px;
            }
  
            // gap: 100px;
            // @media (max-width:768px) {
  
            //   gap: 30px;
            // }
  
            .img1 {
              width: 100px;
              height: 129px;
              margin-right: 90px;
  
              @media (max-width: 768px) {
                margin-right: 50px;
                margin-left: 25px;
              }
            }
  
            .img2 {
              width: 123px;
              height: 110px;
              margin-right: 90px;
  
              @media (max-width: 768px) {
                margin-right: 0;
              }
            }
  
            .img3 {
              width: 100px;
              height: 129px;
              margin-right: 90px;
  
              @media (max-width: 768px) {
                margin-right: 75px;
                margin-left: 25px;
              }
            }
  
            .img4 {
              width: 68px;
              height: 120px;
            }
          }
        }
      }
  
      .swp {
        display: none;
  
        @media (max-width: 991px) {
          display: block;
        }
  
        .mySwiper2 {
          .swiper-slide {
            height: auto;
  
            img {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
        }
      }
    }
  
    #breakdown {
      padding: 120px 0;
      @media (max-width: 991px) {
        display: none;
      }
  
      .headings {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
  
        .logo-cont {
          width: 74px;
          height: 74px;
          border-radius: 50%;
          background-color: #f2f4fd;
          margin-bottom: 20px;
          @include Flexible($align: center, $justify: center);
        }
  
        h3 {
          @include Font($color: $main-fontc, $size: 33px, $weight: 600);
          text-align: center;
        }
  
        p {
          @include Font($color: $font-color, $size: 19px);
          text-align: center;
          max-width: 710px;
        }
  
        .flags {
          @include Flexible($gap: 15px);
          margin-top: 15px;
  
          .flag {
            width: 85px;
            height: 85px;
            border-radius: 11px;
  
            border: 1px solid #d0d4ea;
            @include Flexible($align: center, $justify: center);
            cursor: pointer;
            position: relative;
  
            img {
              opacity: 0.2;
            }
  
            &:hover {
              .hover {
                opacity: 1 !important;
              }
            }
  
            .hover {
              position: absolute;
              background-color: #00103b;
              color: white;
              padding: 10px;
              border-radius: 10px;
              font-size: 14px;
              top: -60px;
              opacity: 0;
              transition: 0.4s ease-in-out;
  
              i {
                color: #00103b;
                position: absolute;
                font-size: 20px;
                left: 50%;
                transform: translateX(-50%);
                bottom: -11px;
              }
            }
          }
        }
      }
  
      .breakdown-container {
        position: relative;
        width: 920px;
        height: 800px;
        margin: 30px auto;
  
        .brkdown {
          width: 100%;
          height: 100%;
          border: 1px solid rgba(171, 178, 217, 0.35);
          border-radius: 18px;
          background-color: white;
          box-shadow: 0 28px 40px 0 rgba(171, 178, 217, 0.135);
          opacity: 0;
          transition: 0.3s ease-in-out;
          padding: 0 24px;
          position: absolute;
          left: 0;
          top: 0;
  
          .brk-head {
            padding: 28px 0;
            border-bottom: 1px solid rgba(171, 178, 217, 0.35);
  
            h6 {
              @include Font($color: $font-color, $size: 15px);
              text-align: center;
            }
  
            h4 {
              @include Font($color: $font-color4, $size: 30px, $weight: 600);
              text-align: center;
              margin: 0;
            }
          }
  
          .brk-body {
            display: flex;
            justify-content: space-between;
            padding: 32px 0;
  
            .left,
            .right {
              width: 48%;
  
              h2 {
                @include Font($color: $main-fontc, $size: 20px, $weight: 600);
                margin-bottom: 32px;
              }
  
              .list {
                display: flex;
                justify-content: space-between;
                margin-bottom: 14px;
  
                h3 {
                  @include Font($color: $main-fontc, $size: 18px, $weight: 400);
                }
              }
  
              .inlist {
                display: flex;
                justify-content: space-between;
                padding-left: 20px;
                margin-bottom: 14px;
  
                h5 {
                  @include Font($color: #132a97, $size: 16px, $weight: 400);
                }
              }
  
              .total {
                margin-top: 15px;
              }
            }
          }
  
          .brk-foot {
            padding: 28px 0;
            border-top: 1px solid rgba(171, 178, 217, 0.35);
  
            p {
              margin: 0 auto;
              max-width: 730px;
              text-align: center;
              color: #abb2d9;
              font-size: 14px;
            }
          }
        }
      }
  
      .employ-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
  
        button {
          width: 158px;
          height: 54px;
  
          border-radius: 8px;
          background-color: #2240cd;
          box-shadow: 0 6px 10px 0 rgb(6 102 235 / 16%);
          font-size: 18px;
          border-color: transparent;
          color: white;
  
          &:hover {
            background-color: #061f8e;
          }
        }
      }
    }
  
    #global-res {
      display: flex;
      justify-content: center;
      overflow: hidden;
      padding: 50px 0;
      @media (max-width: 991px) {
        padding: 50px 0 20px 0;
      }
      .headings {
        @include Flexible($justify: center, $flexdir: column, $align: center);
  
        .logo-cont {
          width: 74px;
          height: 74px;
          border-radius: 50%;
          background-color: #f2f4fd;
  
          img {
            height: 36px;
            width: 36px;
          }
  
          @include Flexible($justify: center, $align: center);
        }
  
        h3 {
          @include Font($size: $heading-size, $color: $main-fontc, $weight: 600);
          text-align: center;
          margin: 15px 0 10px 0;
        }
  
        p {
          @include Font($size: $p-size, $color: $font-color);
          text-align: center;
          margin: 0;
        }
      }
  
      .countries {
        width: 1190px;
        margin: 30px auto;
        overflow: hidden;
        @include Flexible($justify: center, $align: center);
        @media (max-width: 991px) {
          display: none;
        }
  
        .small-card {
          width: 250px !important;
          height: 290px;
          background-size: cover;
          border-radius: 20px;
          z-index: 5;
          flex-shrink: 0;
          position: relative;
          cursor: pointer;
          transition: 0.2s ease-in-out;
  
          span {
            @include Font($color: white, $size: 19px, $weight: 600);
          }
  
          &:hover {
            box-shadow: 0 0 20px 0 rgb(7 30 143 / 80%);
          }
        }
  
        .md-card {
          width: 290px !important;
          height: 450px;
          background-size: cover;
          border-radius: 20px;
          z-index: 10;
          position: relative;
          flex-shrink: 0;
          cursor: pointer;
          transition: 0.2s ease-in-out;
  
          span {
            @include Font($color: white, $size: 26px, $weight: 600);
          }
  
          &:hover {
            box-shadow: 0 0 40px 0 rgb(7 30 143 / 80%);
          }
        }
  
        .big-card {
          width: 480px !important;
          height: 570px;
          border-radius: 20px;
          border: 1px solid #e9ecfa;
          background-color: white;
          z-index: 20;
          flex-shrink: 0;
          padding: 30px 40px;
          box-shadow: 0 32px 60px 0 rgb(1 17 59 / 10%);
          @include Flexible($flexdir: column, $align: center);
  
          .img-cont {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            box-shadow: 0 30px 60px 0 #e9ecfa;
          }
  
          h3 {
            color: #001c63;
            font-size: 30px;
            line-height: 46px;
            font-weight: 600;
            text-align: center;
            margin-top: 40px;
          }
  
          p {
            margin: 24px 0;
            color: #8992c7;
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            text-align: center;
          }
          button {
            width: 170px;
            height: 55px;
            border: 1px solid rgba(34, 64, 205, 0.2);
            color: #2240cd;
            font-size: 20px;
            font-weight: 600;
            background-color: transparent;
            border-radius: 9px;
            &:hover {
              background-color: rgba(34, 64, 205, 0.1);
            }
          }
        }
  
        .russia {
          transform: translateX(303px);
          transition: 1s ease-in-out;
  
          span {
            position: absolute;
            left: 35px;
            bottom: 30px;
          }
        }
  
        .india {
          transform: translateX(555px);
          transition: 1.3s ease-in-out;
  
          span {
            position: absolute;
            left: 20px;
            bottom: 16px;
          }
        }
  
        .thailand {
          transform: translateX(-305px);
          transition: 1s ease-in-out;
  
          span {
            position: absolute;
            right: 35px;
            bottom: 30px;
          }
        }
  
        .china {
          transform: translateX(-555px);
          transition: 1.3s ease-in-out;
  
          span {
            position: absolute;
            right: 20px;
            bottom: 16px;
          }
        }
      }
  
      .big-card2 {
        width: 480px;
        height: 570px;
        border-radius: 20px;
        border: 1px solid #e9ecfa;
        background-color: white;
        z-index: 20;
        flex-shrink: 0;
        padding: 30px 40px;
        box-shadow: 0 32px 60px 0 rgb(1 17 59 / 10%);
        margin: 40px auto;
        @include Flexible($flexdir: column, $align: center);
        @media (max-width: 500px) {
          width: 100px;
          height: 100px;
        }
  
        .img-cont {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          box-shadow: 0 30px 60px 0 #e9ecfa;
          @media (max-width: 500px) {
            width: 100px;
            height: 100px;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
  
        h3 {
          color: #001c63;
          font-size: 30px;
          line-height: 46px;
          font-weight: 600;
          text-align: center;
          margin-top: 40px;
          @media (max-width: 500px) {
            font-size: 24px;
          }
        }
  
        p {
          margin: 24px 0;
          color: #8992c7;
          font-size: 18px;
          line-height: 30px;
          font-weight: 400;
          text-align: center;
          @media (max-width: 500px) {
            font-size: 14px;
          }
        }
        button {
          width: 170px;
          height: 55px;
          border: 1px solid rgba(34, 64, 205, 0.2);
          color: #2240cd;
          font-size: 20px;
          font-weight: 600;
          background-color: transparent;
          border-radius: 9px;
          &:hover {
            background-color: rgba(34, 64, 205, 0.1);
          }
        }
        display: none;
        @media (max-width: 991px) {
          display: flex;
        }
        @media (max-width: 500px) {
          width: 96%;
          height: auto;
          padding: 20px;
        }
      }
    }
  
    #perspectives {
      background-color: #e9ecfa;
      padding: 150px 40px 100px 40px;
      @media (max-width: 768px) {
        padding: 120px 20px 70px 20px;
      }
      .headings {
        h5 {
          font-size: 33px;
          text-align: center;
          color: $main-fontc;
          font-weight: 600;
        }
        p {
          font-size: 20px;
          text-align: center;
          color: $font-color;
        }
      }
  
      .swiper-slide {
        width: 280px;
        .img-cont {
          height: 180px;
          width: 100%;
          border-radius: 20px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
        p {
          font-size: 18px;
          color: #01113b;
          font-weight: 600;
          margin-top: 23px;
        }
        a {
          font-size: 13px;
          color: #2240cd;
          i {
            font-size: 9px;
          }
        }
      }
      .explore-btn {
        display: flex;
        justify-content: center;
        button {
          width: 167px;
          height: 54px;
          box-shadow: 0 6px 10px 0 rgb(6 102 235 / 16%);
          background-color: #2240cd;
          font-size: 18px;
          border-radius: 8px;
          color: white;
          margin: 10px auto;
          border-color: transparent;
          &:hover {
            background-color: #102486;
          }
        }
      }
    }
  
    #choose-multiplier {
      background-color: #132a97;
      background-size: cover;
      background-position: center;
      padding: 280px 0 100px 0;
      .img-cont {
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
      h3 {
        font-size: 33px;
        font-weight: 600;
        text-align: center;
        color: white;
        margin: 16px 0 48px 0;
        @media (max-width: 500px) {
          font-size: 20px;
        }
      }
      .btns {
        display: flex;
        justify-content: center;
        button {
          font-size: 18px;
          width: 207px;
          height: 54px;
          border-radius: 8px;
          box-shadow: 0 6px 10px 0 rgb(6 102 235 / 16%);
          background-color: white;
          border-color: transparent;
          margin: 0 auto;
          font-weight: 600;
          color: #2240cd;
          outline: none;
          &:hover {
            background-color: #ccd3f0;
          }
        }
      }
    }
  
    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
    }
  
    .swiper-slide img {
      display: block;
      width: 100%;
    }
  }
  
  .active-tab {
    border: 1px solid rgba(34, 64, 205, 0.4) !important;
    box-shadow: 0 12px 20px 0 rgb(34 64 205 / 20%) !important;
    background-color: white !important;
  }
  
  .active-tabcont {
    opacity: 1 !important;
  }
  
  .active-brk {
    opacity: 1 !important;
  }
  
  .active-flag {
    opacity: 1 !important;
  }
  
  .china-active {
    transform: translateX(-200px) !important;
  }
  
  .thailand-active {
    transform: translateX(-75px) !important;
  }
  
  .india-active {
    transform: translateX(205px) !important;
  }
  
  .russia-active {
    transform: translateX(85px) !important;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
  
    50% {
      transform: translateX(-1000px);
    }
  
    100% {
      transform: translateX(-2000px);
    }
  }
  