$primary-color: #01113b;
$secondary-color: #e9ecfa;
$font-color: #8992c7;
$font-color2: #bac1e8;
$font-color3: #01113b;
$font-color4: #2240cd;
$main-fontc: #001c63;
$heading-size: 33px;
$p-size: 20px;
$primary-fontfam: "Inter", sans-serif;
$primary-borderrad: 8px;
