#signup {
    .row {
      padding: 0 !important;
  
      .col-lg-6 {
        padding: 0 !important;
      }
  
      .col-md-5 {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  
    .left {
      height: 100vh;
      background-color: #001c63;
      background-size: cover;
      padding: 35px 100px 35px 30px;
  
      @media (max-width: 991px) {
        padding: 35px 50px 35px 30px;
      }
  
      @include Flexible($justify: space-between, $flexdir: column);
  
      .left-bottom {
        h3 {
          font-size: 25px;
          color: white;
          font-weight: 600;
  
          @media (max-width: 991px) {
            font-size: 21px;
          }
        }
  
        p {
          line-height: 32px;
          color: white;
          font-size: 18px;
  
          @media (max-width: 991px) {
            font-size: 14px;
          }
        }
      }
    }
  
    .right {
      height: 100vh;
      max-width: 976px;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      padding: 20px 90px 0 90px;
      @media (max-width: 991px) {
        padding: 50px 40px 20px 40px;
      }
  
      @media (max-width: 500px) {
        padding: 50px 25px 20px 25px;
      }
  
      h2 {
        font-size: 35px;
        color: #001c63;
        font-weight: 600;
  
        @media (max-width: 425px) {
          font-size: 27px;
        }
      }
  
      p {
        font-size: 16px;
        color: #8992c7;
  
        @media (max-width: 385px) {
          font-size: 13px;
        }
      }
  
      .right-body {
        h5 {
          color: #8992c7;
          font-size: 18px;
          font-weight: 600;
          margin: 80px 0 40px 0;
        }
  
        form {
          .radio-input {
            padding: 0 16px;
            height: 79px;
            display: flex;
            align-items: center;
            border-radius: 6px;
            border: 1px solid rgba(128, 128, 128, 0.422);
            margin-bottom: 20px;
            gap: 15px;
            cursor: default;
  
            .radio1 {
              width: 25px !important;
              height: 25px !important;
            }
            .radio2 {
              width: 19px !important;
              height: 19px !important;
            }
  
            h6 {
              margin: 0;
              font-size: 13px;
              color: #001c63;
              span {
                font-weight: bold;
              }
            }
          }
  
          .btn-cont {
            display: flex;
            justify-content: center;
            margin: 30px 0 60px 0;
  
            button {
              background-color: #2240cd;
              width: 127px;
              height: 64px;
              font-size: 19px;
              font-weight: 500;
              color: white;
              border-radius: 8px;
              border-color: transparent;
            }
          }
        }
  
        .signup-link {
          h5 {
            font-size: 15px;
            text-align: center;
            font-weight: 400;
            margin: 0;
  
            a {
              color: #001c63;
              text-decoration: underline !important;
            }
          }
        }
      }
    }
  }
  